{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tasks list</h1>
            <a class="btn btn-primary" href="{{ path('tasks_new') }}">Create a new task</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tasksdescription</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('tasks_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.tasksDescription }}</td>
                <td>{{ task.status }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('tasks_show', { 'id': task.id }) }}">Show</a>
                    <a class="btn btn-info" href="{{ path('tasks_edit', { 'id': task.id }) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path('tasks_edit', { 'id': task.id }) }}">Add Progress</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div>
    {{tasks|length}} Records found... &nbsp;<br>
</div>

{% endblock %}
